.cont-bestSellers {
  display: grid;
  justify-content: center;
}
.cont-bestSellers> button {
  color: #644996;
  background-color: white;
  border: none;
  text-decoration: underline #ede068 2px;
  font-size: 40px;
}
.img-Best-Seller-1 {
  width: 400px;
  height: 400px;
  padding: 56px;
  padding-top: 30px;
}
.img-Best-Seller-2 {
  padding: 56px;
  padding-top: 30px;
  margin-left: 80px;
}