@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin: 0;
    font-family: 'Karla', sans-serif;
}


footer li {
    list-style: none;

}

.cont-footer {
    background-color: #644996;
    width: 100%;
    bottom: 0;
    padding: 0;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-footer>.footer-Group1 {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 491px;
    justify-content: space-between;
    margin-bottom: 15px;

}

.cont-footer>.footer-Group2 {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 491px;
    margin-bottom: 15px;
    justify-content: center;
}


.cont-footer>.footer-Group3 {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 491px;
    justify-content: center;

}


@media screen and (max-width : 530px) {
    .cont-footer {
        height: 208px;
        width: 100%;
    }

    .cont-footer>li {

        font-size: 12px;
    }

    .footer-Group1 br {
        display: none;
        flex-direction: row;
    }

    .cont-footer>.footer-Group1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .cont-footer>.footer-Group1 li {
        margin-bottom: 15px;
    }

    .cont-footer>.footer-Group2 {
        margin-bottom: 15px;
        margin-top: 0px;

    }

}