* {
    margin: 0;
}

.img-logo {
    width: 874px;
    height: 173px;
    background-image: url(../images/sportbay-logo-principale.jpg);
    background-repeat: no-repeat;



}

.cont-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}