/* navBar  */
.cont-bar-nav img {
    width: 69px;
    height: 72px;
}



.ul-navBar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #644996;
    height: 86px;
    display: flex;
    justify-content: space-between;
}

li {
    margin: auto;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;


}


a:hover {
    margin-top: 5px;
    text-decoration: underline #ede068 2px;
}


.groupe-navBar1 {
    display: flex;
    text-align: center;

    gap: 82px;

    justify-content: center;
}

.groupe-navBar2 {
    display: flex;
    align-self: flex-end;
    text-align: center;
}


i {
    width: 35px;
    height: 35px;
    text-align: center;


}

 i:hover {
    margin-top: 5px;
    text-decoration: underline #ede068 2px;
}


/* navBar  */