.list-small-images  {
    list-style-type: none;
    max-width: 78px;
    height: 78px;
}

.list-small-images img {
    width: 100%;
    margin-bottom: 14px;
}

.container-all-main-images {
    display: flex;
    
}

.container-big-images {
    max-width: 433px;
}

.container-big-images img {
    width: 100%;
    margin-left: 28px;
}

.container-main-articles {
    display: flex;
    justify-content: center;
}

.container-stars-main-articles {
    display: flex;
}

.container-stars-main-articles img {
    width: 42px;
}

.container-main-articles p {
    font-size: 20px;
}

.container-stars-main-articles p {
    color: #B6B6B6;
    line-height: 42px;
    margin-left: 9px;
}

.container-description-articles p {
    font-size: 22px;

}

.container-description-articles p:nth-child(2) {
    font-size: 20px;
     color: #B6B6B6;  
}

.container-description-articles {
    margin-bottom: 65px;
}

.quantity-options-button {
    margin-top: 8px;
    display: flex;
    gap: 13px;
}

.container-price-hearts {
    display: flex;
    gap: 174px;
    margin-top: 30px;
    margin-bottom: 28px;
}

.container-price-hearts p {
    font-size: 40px;
    color: #838383;
}

.container-hearts-image {
    max-width: 38px;
}

.container-hearts-image img {
    margin-top: 10px;
    width: 100%;
}

.container-add-to-cart {
    max-width: 400px;
    height: 49px;
    background-color: #644996;
    border-radius: 13px;
    display: flex;

}

.container-order-now {
    margin-top: 14px;
    max-width: 400px;
    height: 49px;
    background-color: #644996;
    border-radius: 13px;
}

.container-add-to-cart p {
    color: white;
    line-height: 49px;
    margin-left: 16px;
}

.container-add-to-cart img  {
    margin-left: 226px;
    margin-top: 10px;
    max-width: 24px;
    height: 24px;
}


.container-order-now {
    max-width: 400px;
    height: 49px;
    background-color: #644996;
    border-radius: 13px;
    display: flex;

}

.container-order-now{
    margin-top: 14px;
    max-width: 400px;
    height: 49px;
    background-color: #644996;
    border-radius: 13px;
}

.container-order-now p {
    color: white;
    line-height: 49px;
    margin-left: 16px;
}

.container-order-now img  {
    margin-left: 230px;
    margin-top: 10px;
    max-width: 24px;
    height: 24px;
}

.quantity-button-plus {
    background-color: #D9D9D9;
    width: 53px;
    height: 53px;
    border-radius: 13px;
}

.quantity-button-minus {
    background-color: #D9D9D9;
    width: 53px;
    height: 53px;
    border-radius: 13px;
}

.div-quantity-icon {
    margin-top: 6px;
    display: flex;
    gap: 23px;
}

.div-quantity-icon h3 {
    font-size: 40px;
}

.options-button select {

    margin-top: 5px;
    width:203px ;
    height: 55px;
    border-radius: 13px;
    background-color: #B6B6B6;
}

.container-alltext-button-main-articles {
    margin-left: 60px;
}


@media screen and (max-width: 414px) {

.container-add-order {
    display: flex;
    margin: 0 auto;
}

.container-add-to-cart, .container-order-now {
    width: 158px;
    height: 56px;
    display: block
}

.container-add-to-cart p, .container-order-now p {
    font-size: 20px;
}

.container-order-now {
    margin-top: 0px;
    margin-left: 8px;
}

.container-price-hearts p {
    display: none;
}

.container-main-articles {
    display: block;
    margin-left: -40px;
}

.container-big-images {
    margin-top: 33px;
    width: 324px;
    display: flex;
    margin: 0 auto;
}

.list-small-images {
    display: none;
}

.container-stars-main-articles {
    margin-top: -60px;
}

.container-stars-main-articles img {
    width: 35.06px;
}

.container-hearts-image {
    margin-left: 170px;
    margin-top: -260px;
    width: 38px;
}

.container-alltext-button-main-articles {
    margin-top: 21px;
}

.container-add-order {
    margin-top: -40px;
}

.options-button select {
    width: 158px;
    height: 36px;
}

.div-quantity-icon div {
    width: 36px;
    height: 36px;
}

}