body {
    background-color: #DDDDDD;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    width: 300px;
}


.articles-cost {
    width: 1139px;
    height: 858px;
    border: 1px solid #644996;
    background-color: #FFFFFF;
    margin-top: 30px;
}

.articles-cost h2 {
    margin-top: 88px;

}

.articles-cost .titleh2 {
    margin-bottom: 92px;

}

.titleh2 {
    text-align: center;
}

.first-Part {
    display: flex;
    justify-content: center;
}

.magnesie-grp1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 55px;
}

.image-magnesie {
    box-sizing: border-box;

    width: 122px;
    height: 211px;
    left: 126px;
    top: 411px;

    background: url(Mockup_magnesie_liquide.jpg);
    border: 1px solid #644996;
}

img {
    margin-bottom: 55px;
}

.trash-like {
    display: grid;
}

.sup-like {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

.quantity-price {
    display: grid;
    justify-items: right;
}

.quantity-price input {
    width: 106px;
    height: 40px;
}

.input-Arcticle {
    border: 1px solid #F9E168;
    text-align: center;
    font-size: 27px;
}

.price-article {
    font-size: 20px;
}


.second-Part {
    display: flex;
    justify-content: center;
}

.thirth-Part {
    display: grid;
    grid-template-rows: repeat(3, 0fr);
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #644996;
    width: 1139px;
    height: 218px;
    margin-top: 30px;
}

.thirth-Part h2 {
    margin-top: 33px;
    margin-bottom: 61px;
}

.four-part {

    background-color: #FFFFFF;
    border: 1px solid #644996;
    width: 1139px;
    height: 218px;
    margin-top: 30px;
}

.five-images {
    display: flex;
    flex-direction: row;
}

.four-part img {
    width: 150px;
    height: 50px;
}

.four-part h2 {
    margin-bottom: 47px;
    margin-top: 33px;

}

/* .duration-delivery {
    display: flex;
    flex-direction: column;
} */